<div id="js-cart" class="cart">
  <div  class="cart__title">
    Halinver fendum etium perit
  </div>
  <div class="cart__price">
    256 €
  </div>
  <div>
  <div  onclick="toggleColor(badge, this)" class="cart__badge active js-badge">
    32 Go
  </div>
  <div onclick="toggleColor(badge, this)" class="cart__badge js-badge">
    64 Go
  </div>
  <div onclick="toggleColor(badge, this)" class="cart__badge js-badge">
    128 Go
  </div>
  </div>
  <button class="button js-button-cart">add to cart</button>
</div>



<div class="cart-detail js-cart-detail">
  <div class="cart-detail__header">
    <a href="#"><svg style="fill:#FFF;" class="js-button-close" xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 -10 40 40"><path d="M28.5 9.62L26.38 7.5 18 15.88 9.62 7.5 7.5 9.62 15.88 18 7.5 26.38l2.12 2.12L18 20.12l8.38 8.38 2.12-2.12L20.12 18z"/></svg></a><span class="cart-detail__header__title">Your Cart</span>
  </div>
  <table class="cart-detail__orderTable">
    <thead class="cart-detail__orderTable__header">
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cart-detail__orderTable__item">
        <td>Brand1</td>
        <td>Sapienimilis simi, quos</td>
        <td>256 €</td>
      </tr>
      <tr class="cart-detail__orderTable__item">
        <td>Brand2</td>
        <td>Sapienimilis simi, quos</td>
        <td>256 €</td>
      </tr>
      <tr class="cart-detail__orderTable__item">
        <td>Brand3</td>
        <td>Sapienimilis simi, quos</td>
        <td>256 €</td>
      </tr>
      <tr class="cart-detail__orderTable__total">
        <td colspan="2">Total</td>
        <td>768 €</td>
      </tr>
    </tbody>
  </table>
  <button class="button-secondary">checkout</button>
  <div class="cart-detail__formHelp">
    <p class="paragraph-help">Need Help ?</p>
    <form action="">
      <div>
        <select class="cart-detail__formHelp__select" name="topic">
          <option value="Topic">Topic</option>
          <option value="Topic 2">Topic 2</option>
          <option value="Topic 3">Topic 3</option>
        </select>
      </div>
      <div>
        <input class="cart-detail__formHelp__input" type="email"/>
      </div>
      <div>
        <textarea class="cart-detail__formHelp__textarea"></textarea>
      </div>
      <div>
        <a href="#">cancel</a>
        <button class="button-blue">send</button>
      </div>
    </form>
  </div>
</div>
