<div class="product-wrapper">
  <div class="title">
    Il id ut que doluptatem. Acerrovit as ab ipicips anihici
  </div>
  <ul>
    <li class="product-list">
      <div class="product">
        <div class="product__picture card"></div>
        <div class="product__details">
          <div class="product__details__title">Brand</div>
          <div class="product__details__description">Ene cusapici is sequi</div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <div class="product">
        <div class="product__picture card"></div>
        <div class="product__details">
          <div class="product__details__title">Brand</div>
          <div class="product__details__description">Ene cusapici is sequi</div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <div class="product">
        <div class="product__picture card"></div>
        <div class="product__details">
          <div class="product__details__title">Brand</div>
          <div class="product__details__description">Ene cusapici is sequi</div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <div class="product">
        <div class="product__picture card"></div>
        <div class="product__details">
          <div class="product__details__title">Brand</div>
          <div class="product__details__description">Ene cusapici is sequi</div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <div class="product">
        <div class="product__picture card"></div>
        <div class="product__details">
          <div class="product__details__title">Brand</div>
          <div class="product__details__description">Ene cusapici is sequi</div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <div class="product">
        <div class="product__picture card"></div>
        <div class="product__details">
          <div class="product__details__title">Brand</div>
          <div class="product__details__description">Ene cusapici is sequi</div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <div class="product">
        <div class="product__picture card"></div>
        <div class="product__details">
          <div class="product__details__title">Brand</div>
          <div class="product__details__description">Ene cusapici is sequi</div>
        </div>
      </div>
    </li>
  </ul>
</div>
