.navbar {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar__wrapper {
  margin: 10px;
}

.navbar__logo {
  float: left;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.05em;
  padding: 5px 5px;
}

.navbar__menu {
  float: right;
  margin-right: 20px;
}

.navbar__menu__link {
  display: inline-block;
  padding: 5px 15px;
  font-weight: 800;
  cursor: pointer;
}

.navbar__menu__link.active {
  color: #b23131;
}

.navbar__burger {
  display: none;
}

@media screen and (max-width: 580px) {
  .navbar__menu {
    display: none;
  }

  .navbar__burger {
    display: block;
    float: right;
  }

}
