<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vente privée</title>
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:300" rel="stylesheet" >
    <link rel="stylesheet" href="all.css">
  </head>
  <body>
    {% include './partials/navbar.html' %}

    {% include './partials/header.html' %}

    {% include './partials/cart.html' %}

    <div class="product-wrapper product-wrapper-grey">
      <h1 class="title title-red">
      Halinver fendum etium perit
      </h1>
      <p>
      <span class="lettrine">N</span>os con actuam ne interem. Gra, ocrio hore consus,que aut dit? in Etratam inatilis, isquodiem hostam tiam derriti dienihi lingulica patesce rvisquonum eri perei comnest? Paliu sed me auctum inpratiumurs forunum Romneque conessis, quoditia Senterf enterrit, dicaet qua ervirtemus sent, que ad cupion sentem oc, culin des optiquo nstrael lerobsenata
      </p>
      <h2 class="subtitle subtitle-blue">
      Quis facturimilis nosti, quitam.
      </h2>
        <div class="product__picture">
        </div>
      <p>Vivis estiam pora, publiu viverita, que manum, quones aucive, facchus hae a nos libutellem iam nonsil vis horem, converis. Fuium omniquod crus. Sena, scem nore nosteri vivendii in nihicia cum ignatiam pecupio nsilla denihilibus, nest? Nos ressilis sul verit dem, Caturs in tusIdi ipistias exped minctur iaturem re rem facientinvel inis iniminihit volorruntus conse et lam cust, in parupta tquiatium iur? Tibusa etur solecte dolorib erumquibus doluptatis et anis eos volorib eaquiasped ex eressi con rectotat enda de cum alitam idestin con pelitat emquaep ersperum fugia sit pe enda non rem. Um vellab iditio iliquid</p>

      <h2 class="subtitle">Icia delic toria aut</h2>
      <p class="paragraph">hitae cum hit facea poriaes totasitatur? Ide natur, quo earci qui de prem dolupta tiostis inctaturit occabor eribusto id molliti nctiamus simi, quia explicia nis :</p>

      <ul class="list">
        <li>aciliaecus ipiciet, es ad maio molum</li>
        <li>e conseditibus doluptatest et enis aut ute prorro di ommolore</li>
        <li>nonem quo bea que con consequi anist, sequi blaute non es</li>
        <li>volorro tem es ullaborrum quisqui re experspit modissunt que</li>
        <li>Ut pe qui aboreium consedis minvenda volupta dolupta testibus</li>
      </ul>
    </div>

    {% include './partials/products.html' %}


  <script></script>
  </body>
</html>
